<%= form_for(api_v1_canvas) do |f| %>
  <% if api_v1_canvas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_canvas.errors.count, "error") %> prohibited this api_v1_canvas from being saved:</h2>

      <ul>
      <% api_v1_canvas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :diagram_id %>
    <%= f.text_field :diagram_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
