<p id="notice"><%= notice %></p>

<h1>Api V1 Diagrams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_diagrams.each do |api_v1_diagram| %>
      <tr>
        <td><%= api_v1_diagram.name %></td>
        <td><%= link_to 'Show', api_v1_diagram %></td>
        <td><%= link_to 'Edit', edit_api_v1_diagram_path(api_v1_diagram) %></td>
        <td><%= link_to 'Destroy', api_v1_diagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api V1 Diagram', new_api_v1_diagram_path %>
