<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @api_v1_shape.label %>
</p>

<p>
  <strong>Type:</strong>
  <%= @api_v1_shape.shape_type %>
</p>

<p>
  <strong>Canvas:</strong>
  <%= @api_v1_shape.canvas %>
</p>

<%= link_to 'Edit', edit_api_v1_shape_path(@api_v1_shape) %> |
<%= link_to 'Back', api_v1_shapes_path %>
