%p#notice= notice

%h1 Places

= search_form_for @search do |f|

  %fieldset
    %legend 'Search Place'
    %ul
      %li
        = f.label 'Name'
        = f.text_field :name_cont
    = submit_tag 'Apply'

= will_paginate @places
= render 'results'
= will_paginate @places
